# Cache
**/.cache/
**/__pycache__/
**/.ruff_cache/
**/.pytest_cache/

# Virtual environments
venv/
.venv/

# VS Code settings
**/.vscode/

# Packaging
dist/
**/*.egg-info/

# Notebooks
**/*.ipynb
**/.ipynb_checkpoints

# Secrets
*secrets.json
*token.json
